@* @using ProInUG.BlazorUI.Models *@
@using Microsoft.AspNetCore.Connections
<MudTable Items="_points" Loading="_loading"
          LoadingProgressColor="Color.Info"
          Filter="new Func<PaymentPointsTableModel, bool>(FilterFunc)"
          SortLabel="Sort By">
    <ToolBarContent>
        <!-- добавить точку оплаты -->
        <MudIconButton Icon="@Icons.Material.Filled.AddBox" Color="Color.Primary" @onclick="CreatePaymentPointAsync" Class="ml-n2"/>
        <MudText Typo="Typo.h6">Список точек оплаты</MudText>
        <MudSpacer/>
        <!-- Поиск -->
        <MudTextField @bind-Value="_searchString" Immediate="true" Placeholder="Поиск" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"/>

    </ToolBarContent>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<PaymentPointsTableModel, object>(x => x.Point.IsEnable)">Enabled</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<PaymentPointsTableModel, object>(x => x.Point.DeviceUri)">Device url</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<PaymentPointsTableModel, object>(x => x.Point.OperatorName)">Operator name</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<PaymentPointsTableModel, object>(x => x.Point.NomenclatureName)">Nomenclature</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<PaymentPointsTableModel, object>(x => x.Point.TaxationType)">Taxation type</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<PaymentPointsTableModel, object>(x => x.Point.TaxRate)">Tax rate</MudTableSortLabel>
        </MudTh>
        <MudTh>Action</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Point.Id</MudTd>
        <MudTd DataLabel="Is Enable">
            @if (@context.Point.IsEnable)
            {
                <MudIcon Icon="@Icons.Material.Filled.Favorite" Color="Color.Primary"/>
            }
            else
            {
                <MudIcon Icon="@Icons.Material.Filled.FavoriteBorder" Color="Color.Primary"/>
            }
        </MudTd>
        <MudTd DataLabel="Device url">@context.Point.DeviceUri</MudTd>
        <MudTd DataLabel="Operator name">@context.Point.OperatorName</MudTd>
        <MudTd DataLabel="Nomenclature">@context.Point.NomenclatureName</MudTd>
        <MudTd DataLabel="Taxation type">@context.Point.TaxationType</MudTd>
        <MudTd DataLabel="Tax rate">@context.Point.TaxRate</MudTd>
        <MudTd DataLabel="Action">
            <MudButtonGroup Color="Color.Default" Variant="Variant.Outlined" Size="Size.Small">
                <MudButton OnClick="() => DetailsButtonPress(context.Point.Id)">Подробнее</MudButton>
                <MudMenu Icon="@Icons.Material.Filled.ArrowDropDown" Dense="true"
                         Direction="Direction.Bottom" OffsetY="true">
                        <MudMenuItem OnClick="() => DetailsButtonPress(context.Point.Id)">Подробнее</MudMenuItem>
                        <MudMenuItem OnClick="() => EditPaymentPointAsync(context.Point)">Изменить</MudMenuItem>
                        <MudMenuItem OnClick="() => DeletePaymentPointAsync(context.Point)">Удалить</MudMenuItem>
                </MudMenu>
            </MudButtonGroup>
        </MudTd>
    </RowTemplate>
    <ChildRowContent>
        @if (context.ShowDetails)
        {
            <MudTr>
                <td colspan="8">
                    <MudCard Elevation="1">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h6" Class="px-4">Детали для точки оплаты</MudText>
                                <MudText Typo="Typo.body1" Class="px-4 mud-text-secondary">@context.Point.Id</MudText>
                                <MudDivider Class="my-2" />
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudText Class="mb-1">Адрес Url: @context.Point.DeviceUri</MudText>
                            <MudText Class="mb-1">Оператор: @context.Point.OperatorName</MudText>
                        </MudCardContent>
                    </MudCard>
                </td>
            </MudTr>
        }
    </ChildRowContent>
</MudTable>