@* @using ProInUG.BlazorUI.Models *@
@using Microsoft.AspNetCore.Connections
<MudTable Items="_points" Loading="_loading" 
          LoadingProgressColor="Color.Info" 
          Filter="new Func<PaymentPointsTableModel, bool>(FilterFunc)" 
          SortLabel="Sort By">
    <ToolBarContent>
        <!-- добавить точку оплаты -->
        <MudIconButton Icon="@Icons.Material.Filled.AddBox" Color="Color.Primary" @onclick="CreatePaymentPointAsync" Class="ml-n2"/>
        <MudText Typo="Typo.h6">Список точек оплаты</MudText>
        <MudSpacer/>
        <!-- Поиск -->
        <MudTextField @bind-Value="_searchString" Immediate="true" Placeholder="Поиск" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"/>

    </ToolBarContent>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<PaymentPointsTableModel, object>(x=>x.Point.IsEnable)">Enabled</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<PaymentPointsTableModel, object>(x=>x.Point.DeviceUri)">Device url</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<PaymentPointsTableModel, object>(x=>x.Point.OperatorName)">Operator name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<PaymentPointsTableModel, object>(x=>x.Point.NomenclatureName)">Nomenclature</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<PaymentPointsTableModel, object>(x=>x.Point.TaxationType)">Taxation type</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<PaymentPointsTableModel, object>(x=>x.Point.TaxRate)">Tax rate</MudTableSortLabel></MudTh>
        <MudTh>Action</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Point.Id</MudTd>
        <MudTd DataLabel="Is Enable">
            @if (@context.Point.IsEnable)
            {
                <MudIcon Icon="@Icons.Material.Filled.Favorite" Color="Color.Primary"/>
            }
            else
            {
                <MudIcon Icon="@Icons.Material.Filled.FavoriteBorder" Color="Color.Primary"/>
            }
        </MudTd>
        <MudTd DataLabel="Device url">@context.Point.DeviceUri</MudTd>
        <MudTd DataLabel="Operator name">@context.Point.OperatorName</MudTd>
        <MudTd DataLabel="Nomenclature">@context.Point.NomenclatureName</MudTd>
        <MudTd DataLabel="Taxation type">@context.Point.TaxationType</MudTd>
        <MudTd DataLabel="Tax rate">@context.Point.TaxRate</MudTd>
        <MudTd DataLabel="Action">
            <!-- Детали кнопка -->
            <MudButton Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Class="px-2 mx-1"
                       @onclick="() => DetailsButtonPress(context.Point.Id)">
                Details
            </MudButton>
            <!-- Редактировать кнопка -->
            <MudButton Variant="Variant.Filled" Color="Color.Success" Size="Size.Small" Class="mx-1"
                       @onclick="() => EditPaymentPointAsync(context.Point)">Edit</MudButton>
            <!-- Удалить кнопка -->
            <MudButton Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" Class="mx-1"
                       @onclick="() => DeletePaymentPointAsync(context.Point)">Delete</MudButton>
        </MudTd>
    </RowTemplate>
    <ChildRowContent>
        @if (context.ShowDetails)
        {
            <MudTr>
                <td colspan="6">
                    <MudCard Elevation="0">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.body1">Детали для точки оплаты <strong>@context.Point.Id</strong></MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudText Class="mb-1">Адрес Url: @context.Point.DeviceUri</MudText>
                            <MudText Class="mb-1">Оператор: @context.Point.OperatorName</MudText>
                        </MudCardContent>
                    </MudCard>
                </td>
            </MudTr>
        }
    </ChildRowContent>
</MudTable>