<div class="d-flex flex-row mb-4">
    <div class="flex-grow-1">
        <h1>Пользователи</h1>
        <MudText>38 пользователей</MudText>
    </div>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Class="align-self-center">Добавть пользователя</MudButton>
</div>

<MudTable Items="_usersList" Loading="_loading" 
          LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Role</MudTh>
        <MudTh>Description</MudTh>
        <MudTh>Action</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.User.Id</MudTd>
        <MudTd DataLabel="Name">@context.User.Name</MudTd>
        <MudTd DataLabel="Role">@context.User.Role</MudTd>
        <MudTd DataLabel="Description">@context.User.Description</MudTd>
        <MudTd>
            <!-- Детали кнопка -->
            <MudIconButton Icon="@Icons.Material.Outlined.Chat" OnClick="() => DetailsButtonPress(context.User.Id)"/>
            <!-- Редактировать кнопка -->
            <MudIconButton Icon="@Icons.Material.Outlined.Edit" OnClick="() => EditUserAsync(context.User)"/>
            <!-- Изменить пароль кнопка -->
            <MudIconButton Icon="@Icons.Material.Outlined.Password" OnClick="() => ChangePasswordAsync(context.User)"/>
            <!-- Удалить кнопка -->
            <MudIconButton Icon="@Icons.Material.Outlined.Cancel" OnClick="() => DeleteUserAsync(context.User)"/>
        </MudTd>
    </RowTemplate>
</MudTable>