@page "/"
@attribute [Authorize]

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudText Typo="Typo.h4" Class="my-1">Payment points list</MudText>
    <!-- Get PPs button -->
    <MudButton Variant="Variant.Filled" Color="Color.Dark" @onclick="GetPaymentPointsAsync">Get payment points</MudButton>
    <!-- Create PP button -->
    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="CreatePaymentPointAsync">Add new point</MudButton>
    @*<MudButton Link="/create-point" Variant="Variant.Filled" Color="Color.Primary">Add new point</MudButton>*@
    <!-- Logout buttons -->
    <MudButton Variant="Variant.Filled" Color="Color.Warning" @onclick="LogoutAsync">Logout</MudButton>
    <br />
    <br />
    <MudTable Items="@paymentPoints">
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Is Enable</MudTh>
            <MudTh>Device url</MudTh>
            <MudTh>Operator name</MudTh>
            <MudTh>Action</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Is Enable">@context.IsEnable</MudTd>
            <MudTd DataLabel="Device url">@context.DeviceUri</MudTd>
            <MudTd DataLabel="Operator name">@context.OperatorName</MudTd>
            <MudTd DataLabel="Action">
                <!-- Edit PP button -->
                <MudButton Variant="Variant.Filled" Color="Color.Success" Size="Size.Small"
                           @onclick="() => DeletePaymentPointAsync(context)">Delete</MudButton>
                <!-- Delete PP button -->
                <MudButton Variant="Variant.Filled" Color="Color.Error" Size="Size.Small"
                           @onclick="() => DeletePaymentPointAsync(context)">Delete</MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
</MudContainer>

@*<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Is Enable</th>
            <th>Device url</th>
            <th>Operator name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (paymentPoints != null)
        {
            foreach (var point in paymentPoints)
            {
                <tr>
                    <td>@point.Id</td>
                    <td>@point.IsEnable</td>
                    <td>@point.DeviceUri</td>
                    <td>@point.OperatorName</td>
                    <td>
                        <button class="btn btn-success btn-sm">Edit</button>
                        <button class="btn btn-danger btn-sm" @onclick="() => DeletePaymentPointAsync(point.Id)">Delete</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>*@
